@import "./transition.css";

:root {
  --color-white: var(--color-gray-0);
  --color-black: var(--color-gray-1000);
  --color-gray: var(--color-gray-500);
  --color-gray-0: #ffffff;
  --color-gray-50: #f2f2f2;
  --color-gray-100: #e6e6e6;
  --color-gray-200: #cccccc;
  --color-gray-300: #b3b3b3;
  --color-gray-400: #989898;
  --color-gray-500: #808080;
  --color-gray-600: #656565;
  --color-gray-700: #4d4d4d;
  --color-gray-800: #333333;
  --color-gray-900: #1a1a1a;
  --color-gray-950: #0d0d0d;
  --color-gray-1000: #000000;

  --color-red: var(--color-red-500);
  --color-red-50: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;
  --color-red-950: #450a0a;

  --color-blue: var(--color-blue-500);
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;
  --color-blue-950: #172554;

  --color-green: var(--color-green-500);
  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-200: #bbf7d0;
  --color-green-300: #86efac;
  --color-green-400: #4ade80;
  --color-green-500: #22c55e;
  --color-green-600: #16a34a;
  --color-green-700: #15803d;
  --color-green-800: #166534;
  --color-green-900: #14532d;
  --color-green-950: #052e16;

  --color-yellow: var(--color-yellow-500);
  --color-yellow-50: #fefce8;
  --color-yellow-100: #fef9c3;
  --color-yellow-200: #fef08a;
  --color-yellow-300: #fde047;
  --color-yellow-400: #facc15;
  --color-yellow-500: #eab308;
  --color-yellow-600: #ca8a04;
  --color-yellow-700: #a16207;
  --color-yellow-800: #854d0e;
  --color-yellow-900: #713f12;
  --color-yellow-950: #422006;

  --font-size: var(--font-size-base);
  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-base: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 18px;

  --line-height: var(--line-height-base);
  --line-height-xs: 12px;
  --line-height-sm: 16px;
  --line-height-base: 20px;
  --line-height-lg: 24px;
  --line-height-xl: 28px;

  --gutter: 10px;

  --box-shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --box-shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --box-shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --box-shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);

  --box-shadow-around: 0px 0px 5px 0px rgb(0 0 0 / 0.1);
  --box-shadow-around-hover: 0px 0px 7px 2px rgb(0 0 0 / 0.1);

  --transition-all: all var(--transition-default);
  --transition-default: var(--transition-duration)
    var(--transition-timing-function);
  --transition-duration: 0.3s;
  --transition-timing-function: ease-in-out;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .enter-component {
  margin-right: 16px;
}

.enter-component-button {
  color: #fff;
  border: none;
  height: 32px;
  cursor: pointer;
  padding: 8px 24px;
  font-size: 14px;
  transition: var(--transition-all);
  line-height: 1;
  font-weight: 700;
  white-space: nowrap;
  border-radius: 16px;
  background-image: linear-gradient(
    135deg,
    var(--color-blue-400) 0%,
    var(--color-blue-600) 100%
  );
}
.enter-component-button:hover {
  background-image: linear-gradient(
    135deg,
    var(--color-blue-600) 0%,
    var(--color-blue-700) 100%
  );
}
.enter-component-button:active {
  background-image: linear-gradient(
    135deg,
    var(--color-blue-600) 0%,
    var(--color-blue-800) 100%
  );
}
.enter-component-button[disabled] {
  color: var(--color-blue-700);
  cursor: not-allowed;
  background-image: linear-gradient(
    135deg,
    var(--color-blue-100) 0%,
    var(--color-blue-300) 100%
  );
} */